{extend name="base" /}
{block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/plugins/webuploader/webuploader.css?v={$v}" />
{/block}
{block name="js"}
<script type='text/javascript' src='__STATIC__/plugins/webuploader/webuploader.js?v={$v}'></script>
<script src="__ADMIN__/adpositions/adpositions.js?v={$v}" type="text/javascript"></script>
{/block}
{block name="main"}
<div class="l-loading" style="display: block" id="wst-loading"></div>
<form id="adPositionsForm">
<table class='wst-form wst-box-top'>
  <tr>
      <th width='150'>位置类型<font color='red'>*</font>：</th>
          <td>
            <select id="positionType" name="positionType" class='ipt' maxLength='20'>
              <option value="">-请选择-</option>
              {volist name=":WSTDatas(5)" id='vo'}
              <option <?=($data['positionType']==$vo['dataVal'])?'selected':'';?> value="{$vo['dataVal']}">{$vo['dataName']}</option>
              {/volist}
            </select>
          </td>
       </tr>
       <tr>
          <th>位置名称<font color='red'>*</font>：</th>
          <td>
            <input type="text" id="positionName" name="positionName" value='{$data['positionName']}' class="ipt" />
          </td>
       </tr>
       <tr>
          <th>位置代码<font color='red'>*</font>：</th>
          <td>
            <input type="text" id="positionCode" name="positionCode" value='{$data['positionCode']}' class="ipt" />
          </td>
       </tr>
       <tr>
          <th>建议宽度<font color='red'>*</font>：</th>
          <td>
            <input type="text" id="positionWidth" name="positionWidth" value='{$data['positionWidth']}' class="ipt" maxLength='4' />
          </td>
       </tr>
       <tr>
          <th>建议高度<font color='red'>*</font>：</th>
          <td>
            <input type='text' id='positionHeight' name="positionHeight" value='{$data['positionHeight']}' class='ipt' maxLength='4'/>
          </td>
       </tr>
       <tr>
          <th>排序号<font color='red'> </font>：</th>
          <td>
            <input type='text' id='apSort' name="apSort" value='{$data['apSort']}' class='ipt' maxLength='10'/>
          </td>
       </tr>
  
  <tr>
     <td colspan='2' align='center'>
       <input type="hidden" name="id" id="positionId" class="ipt" value="{$data['positionId']+0}" />
       <input type="submit" value="提交" class='btn btn-blue' />
       <input type="button" onclick="javascript:history.go(-1)" class='btn' value="返回" />
     </td>
  </tr>
</table>
</form>
<script>
$(function(){editInit()});
</script>
{/block}

