{extend name="base" /}
{block name="js"}
<script src="__ADMIN__/attributes/attributes.js?v={$v}" type="text/javascript"></script>
{/block}
{block name="main"}
<div class="l-loading" style="display: block" id="wst-loading"></div>
<div class="wst-toolbar">
	<div class="f-left">
		<div id="pcat_0_box" class="f-left">
		 所属分类：<select id="cat_0" class='ipt pgoodsCats' level="0" onchange="WST.ITGoodsCats({id:'cat_0',val:this.value,isRequire:false,className:'pgoodsCats'});">
	      	<option value="">-请选择-</option>
	      	{volist name=":WSTGoodsCats(0)" id="vo"}
	        <option value="{$vo['catId']}">{$vo['catName']}</option>
	        {/volist}
	     </select>
	     </div>
	     <input type="text" id="keyName" placeholder="请输入属性名称"/>
	     <button class="btn btn-green" onclick="loadGrid(0)">查询</button>
     </div>
    
   {if WSTGrant('SPSX_01')}
   <button class="btn btn-green f-right" onclick="javascript:toEdit(0);">新增</button>
   {/if}
   <div style="clear:both"></div>
</div>
<div id="maingrid"></div>
<div id='attrBox' style='display:none'>
	<form id="attrForm">
		<table class='wst-form wst-box-top'>
		  <tr>
		      <th width='150'>
		      	<input type="hidden" id="attrId" value="" class="ipt" />
		    	 所属商品分类<font color='red'>*</font>：</th>
		     	<td id="bcat_0_box">
		            <select id="bcat_0" class='ipt goodsCats' level="0" onchange="WST.ITGoodsCats({id:'bcat_0',val:this.value,isRequire:false,className:'goodsCats'});" data-rule='所属商品分类:required;' data-target="#msg_bcat_0">
		                <option value="">-请选择-</option>
		                {volist name=":WSTGoodsCats(0)" id="vo"}
				        <option value="{$vo['catId']}">{$vo['catName']}</option>
				        {/volist}
		           	</select>
		           	<span class='msg-box' id='msg_bcat_0' style='color:red;'>(至少选择一个商品分类)</span>
		          </td>
		       </tr>
		       <tr>
		          <th>属性名称<font color='red'>*</font>：</th>
		          <td>
		              <input type="text" id="attrName" name="attrName" class="ipt" maxLength='20'/>
		          </td>
		       </tr>
		       <tr>
		          <th>属性类型<font color='red'>*</font>：</th>
		          <td>
		              <select id='attrType' class='ipt' onchange='changeArrType(this.value)'>
		                 <option value='0'>输入框</option>
		                 <option value='1'>多选项</option>
		                 <option value='2'>下拉项</option>
		              </select>
		          </td>
		       </tr>
		       <tr id='attrValTr' style='display:none'>
		          <th>属性选项<font color='red'>*</font>：</th>
		          <td>
		              <input type="text" id="attrVal" name="attrVal" class="ipt" style='width:70%' placeholder="每个属性选项以,号分隔" data-msg='请输入属性选项'/>
		          </td>
		       </tr>
		       <tr>
		          <th>是否显示<font color='red'>  </font>：</th>
		          <td>
		            <label>
		              <input type="radio" name="isShow" value="1" class="ipt" />显示
		            </label>
		            <label>
		              <input type="radio" name="isShow" value="0" class="ipt" />隐藏
		            </label>
		          </td>
		       </tr>
		       <tr>
		          <th>排序号<font color='red'>*</font>：</th>
		          <td>
		              <input type="text" id="attrSort" name="attrSort" class="ipt" maxLength='20'/>
		          </td>
		       </tr>
		</table>
	</form>
</div>
{/block}
