{extend name="base" /}
{block name="js"}
<script src="__ADMIN__/ads/ads.js?v={$v}" type="text/javascript"></script>
{/block}
{block name="main"}
<div class="l-loading" style="display: block" id="wst-loading"></div>
<div class="wst-toolbar">
	<div id="query" style="float:left;">
		<p style="float:left;height:25px;line-height:25px;">类型:</p>
			<select style="float:left;" name="positionType" id="positionType" class="query" onChange="addPosition(this.value)">
				<option value="">请选择</option>
                {volist name=":WSTDatas(5)" id='vo'}
                <option value="{$vo['dataVal']}">{$vo['dataName']}</option>
                {/volist}
			</select>
		<p style="float:left;height:25px;line-height:25px;">广告位置:</p>
			<select style="float:left;" name="adPositionId" id="adPositionId" class="query" >
				<option value="">请选择</option>
			</select>
		

		<input type="button" class="btn btn-blue" onclick="javascript:adsQuery()" value="查询">
	</div>
   {if WSTGrant('GGGL_01')} 
   <button class="btn btn-green f-right" onclick="javascript:location.href='<?=url("Ads/toEdit")?>'">新增</button>
   {/if}
   <div style="clear:both"></div>
</div>
<div id="maingrid"></div>
<script>
$(function(){initGrid()});
</script>

{/block}
