{extend name="base" /}
{block name="js"}
<script src="__ADMIN__/styles/styles.js?v={$v}" type="text/javascript"></script>
{/block}
{block name="main"}
<div class="l-loading" style='display:block' id="wst-loading"></div>
<div id="wst-tabs" style="width:100%; height:100%;overflow: hidden; border: 1px solid #D3D3d3;" class="liger-tab">
   {volist name="$cats" id='vo'}
   <div id="{$vo['styleSys']}" tabId="{$vo['styleSys']}"  title="{$vo['styleSys']}" class='wst-tab'  style="height: 99%">
   <div id='style_{$vo['styleSys']}'></div>
   </div>
   {/volist}
</div>
<script id="tblist" type="text/html">
{{# var dl = d['list'];for(var i = 0; i < dl.length; i++){ }}
<div class='style-box'>
   <div class='style-img'>
     <a href='#'>
      <img src='__ROOT__/wstmart/{{d["sys"]}}/view/{{dl[i]["stylePath"]}}/img/screenshot.png'/>
     </a>
   </div>
   <div class='style-txt'>标题：{{dl[i]['styleName']}}</div>
   <div class='style-author'>作者：{{dl[i]['styleAuthor']}}</div>
   <div class='style-author'>介绍：{{# if(dl[i]['styleShopSite']!=''){}}<a target='_blank' href='{{dl[i]['styleShopSite']}}'>访问网址</a>{{# }else{ }}无{{#}}}</div>
   <div class='style-op'>
   {{# if(dl[i]['isUse']==1){}}
   <input class='btn btn-disabled style_{{dl[i]['id']}}' dataid='{{dl[i]['id']}}' type='button' value='应用中' disabled />
   {{# }else{ }}
   <input class='btn btn-blue style_{{dl[i]['id']}}' dataid='{{dl[i]['id']}}' type='button' value='应用' />
   {{# } }}
   </div>
</div>
{{#}}}
</script>
{/block}