{extend name="default/base" /}
{block name="title"}忘记密码 - {__block__}{/block}
{block name="css"}
<link href="__STATIC__/plugins/validator/jquery.validator.css?v={$v}" rel="stylesheet">
<link href="__STYLE__/css/style.css?v={$v}" rel="stylesheet">
<link href="__STYLE__/css/login.css?v={$v}" rel="stylesheet">
{/block}
{block name="nav"}
    {php}$liteTitle = "找回密码"{/php}
	{include file="default/header_lite" /}
{/block}
{block name="main"}
	<div class="wst-container">
           <div id="stepflex" class="stepflex">
               <dl class="first doing">
                   <dt class="s-num">1</dt>
                   <dd class="s-text">填写账户名</dd>
                   <dd></dd>
               </dl>
               <dl class="first doing">
                   <dt class="s-num">2</dt>
                   <dd class="s-text">验证身份</dd>
               </dl>
               <dl class="normal">
                   <dt class="s-num1">3</dt>
                   <dd class="s-text">重置密码</dd>
               </dl>
               <dl class="last">
                   <dt class="s-num1">4</dt>
                   <dd class="s-text">完成</dd>
               </dl>
           </div>
           <div class="wst-clear"></div>
           <div class="forget-pwd">
           <form  id="forgetPwdForm2" autocomplete="off">
           <input type="hidden" id="step" name="step" class="ipt" value="2" autocomplete="off">
           <input type="hidden" id="modes" name="modes" class="ipt" value="1" autocomplete="off">
               <table class="wst-table">
                   <tbody>
					<tr class="wst-login-tr">
						<td class="wst-forget-td">请选择验证身份方式</td>
						<td><select class="wst-forget-select" name="type" id="type">
                              <option value="phone">手机</option>
                              <option value="email">邮箱</option>
                        </select></td>
					</tr>
				    <tr class="wst-login-tr">
                         <td class="wst-forget-td">用户名</td>
                         <td colspan='2'><span class="wst-forget-te">{$forgetInfo['loginName']}</span></td>
                    </tr>
                 	  <tr class="phone-verify wst-login-tr">
                          <td class="wst-forget-td">手机</td>
                          <td colspan='2'><span class="wst-forget-te">{php} echo $forgetInfo['userPhone'] == '' ? "没有预留手机号码，请尝试用邮箱找回！" : $forgetInfo['userPhone'] ; {/php}</span></td>
                      </tr>
                      {if($forgetInfo['userPhone'] != '')}
                      <tr class="phone-verify wst-login-tr">
                          <td class="wst-forget-td">手机校验码</td>
                          <td>
                              <input type="text" class="ipt wst-forget-input" style='width:230px;' name="Checkcode" id="Checkcode" data-rule="校验码required;" data-msg-required="请输入校验码" data-tip="请输入校验码" data-target="#verifyPhone" placeholder="校验码">
                          </td>
                          <td><button id="timeObtain" class="wst-forget-obtain" type="button" onclick="javascript:phoneVerify();">点击获取校验码</button><span id="verifyPhone"></span></td>
                      </tr>
	                <tr class="phone-verify wst-login-tr">
						<td colspan="2" style="padding-left:282px;">
							<input type="button" class="wst-regist-but" value="下一步" style="width: 80px;height:32px;" onclick="javascript:forgetPhone()"/>
						</td>
					</tr>
                       {/if}
                       <tr class="email-verify wst-login-tr">
                           <td class="wst-forget-td">邮箱地址</td>
                           <td colspan='2'><span class="wst-forget-te">{php} echo $forgetInfo['userEmail'] == '' ? "没有预留邮箱，请尝试用手机号码找回！" : $forgetInfo['userEmail'] ; {/php}</span></td>
                       </tr>
                      {if($forgetInfo['userEmail'] != '')}
                    <tr class="email-verify wst-login-tr">
          						<td class="wst-regist-td">验证码</td>
          						<td>
          							<div class="wst-forget-code2">
          							<input id="verifyCode" style="ime-mode:disabled;" name="verifyCode"  class="ipt wst-forget-codein2" data-rule="验证码 required;" data-msg-required="请输入验证码" data-tip="请输入验证码" data-target="#verify" tabindex="6" autocomplete="off" maxlength="6" type="text"  data-target="#verifyCodeTips" placeholder="验证码"/>
          							<img id='verifyImg' class='wst-forget-codeim2' src="{:url('home/users/getVerify')}" onclick='javascript:WST.getVerify("#verifyImg")'><span id="verifyCodeTips"></span>
          						   	</div>
          						   	<label style="float:left;margin:10px 0px 0px 5px;">看不清？<a style="color:#69b7b5;" href="javascript:WST.getVerify('#verifyImg')">换一张</a></label><span id="verify" class="wst-lfloat"></span>
          						</td>
          					</tr>

                    <tr class="email-verify wst-login-tr">
                          <td class="wst-forget-td">邮箱校验码</td>
                          <td >
                              <input type="text" class="ipt wst-forget-input" style='width:230px;' name="secretCode" id="secretCode" data-rule="校验码required;" data-msg-required="请输入校验码" data-tip="请输入校验码" placeholder="校验码" data-target="#notice">
                              <button id="sendEmailBtn" class="wst-forget-obtain" type="button" onclick="javascript:forgetEmail();">点击获取校验码</button>
                          </td>
                          <td id="notice">
                            
                          </td>
                      </tr>
                      


	                <tr class="email-verify wst-login-tr">
        						<td colspan="2" style="padding-left:282px;">
        							<input type="button" class="wst-regist-but" value="下一步" style="width: 120px;height:32px;" onclick="javascript:resetPass()"/>
        						</td>
        					</tr>
                          {/if}
                   </tbody></table>
               </form>

               <!-- <div id="email-prompt" style="margin-top:50px;font-size:20px;text-align: center;display: none;">邮箱成功发送，请登录邮箱查收<span style="color: #E23C3D;font-size:20px;">（30分钟有效）</span></div> -->



           </div>
	</div>
   <form method="post" id="phoneVerify" autocomplete="off" style="display:none;">
     <input type='hidden' id='VerifyId' value='' autocomplete="off"/>
      <table class='wst-form' style="width:500px;">
        <tr>
	        <th align='right'>验证码 <font color='red'>*</font>：</th>
			<td>
				<input id="smsVerfy" style="ime-mode:disabled" name="smsVerfy" data-rule="验证码: required;" data-msg-required="请输入验证码" data-tip="请输入验证码" data-target="#verify" class="ipt" class="text text-1" tabindex="6" autocomplete="off" maxlength="6" type="text"/>
				<label class="img">
					<img id='verifyImg2' src="{:url('home/users/getVerify')}" onclick='javascript:WST.getVerify("#verifyImg2")' style="width:100px;"> 
				</label>      	
			   	<label class="ftx23"><a href="javascript:WST.getVerify('#verifyImg2')" class="flk13">&nbsp;看不清？换一张</a></label><div id="verify"></div>
			</td>
		</tr>
         <tr>
           <td colspan='2' style='padding-left:190px;'>
               <button  type="submit" style="width: 120px;height:30px;">确认</button>
           </td>
         </tr>
        </table>
      </form>
{/block}
{block name="js"}
	<script type="text/javascript" src="__STATIC__/plugins/validator/jquery.validator.js?v={$v}"></script>
	<script type="text/javascript" src="__STATIC__/plugins/validator/local/zh-CN.js?v={$v}"></script>
	<script type='text/javascript' src='__STYLE__/js/findpass.js?v={$v}'></script>
{/block}