{include file="default/header_top" /}
{if !isset($_COOKIE['ads_cookie'])}
{wst:ads code="index-top-ads" cache='86400'}
<div class="index-top-ads">
  <a href="{$vo['adURL']}" {if ($vo['adURL']!='')}onclick="WST.recordClick({$vo['adId']})"{/if} onfocus="this.blur();"><img src="__ROOT__/{$vo['adFile']}"></a>
  <a href="javascript:;" class="close-ads" onclick="WST.closeAds(this)"></a>
</div>
{/wst:ads}
{/if}
<div class='wst-search-container'>
   
    <div class="wst-shop-h">
    <div class="wst-shop-img"><a href="{:url('home/shops/home',array('shopId'=>$data['shop']['shopId']))}"><img class="shopsImg" data-original="__ROOT__/{$data['shop']['shopImg']}" title="{$data['shop']['shopName']}"></a></div>
    <div class="wst-shop-info">
      <p>{$data['shop']['shopName']}</p>
      <div class="wst-shop-info2">
      {volist name="$data['shop']['accreds']" id="ac"}
      <img src="__ROOT__/{$ac['accredImg']}"><span>{$ac['accredName']}</span>
      {/volist}
      {if($data['shop']['shopQQ'])}
      <a href="tencent://message/?uin={$data['shop']['shopQQ']}&Site=QQ交谈&Menu=yes">
        <img border="0" style="width:65px;height:24px;" src="http://wpa.qq.com/pa?p=1:{$data['shop']['shopQQ']}:7">
      </a>
      {/if}
      {if($data['shop']['shopWangWang'])}
      <a href="http://www.taobao.com/webww/ww.php?ver=3&touid={$data['shop']['shopWangWang']}&siteid=cntaobao&status=1&charset=utf-8" target="_blank">
      <img border="0" src="http://amos.alicdn.com/realonline.aw?v=2&uid={$data['shop']['shopWangWang']}&site=cntaobao&s=1&charset=utf-8" alt="和我联系" class='wangwang'/>
      </a>
      {/if}
      </div>
      <div class="wst-shop-info3">
        <span class="wst-shop-eva">商品评价：<span class="wst-shop-red">{$data['shop']['scores']['goodsScore']}</span></span>
        <span class="wst-shop-eva">时效评价：<span class="wst-shop-red">{$data['shop']['scores']['timeScore']}</span></span>
        <span class="wst-shop-eva">服务评价：<span class="wst-shop-red">{$data['shop']['scores']['serviceScore']}</span></span>
        {if($data['shop']['favShop']>0)}
        <a href='javascript:void(0);' onclick='WST.cancelFavorite(this,1,{$data['shop']['shopId']},{$data['shop']['favShop']})' class="wst-shop-evaa j-fav">已关注</a>
        {else}
        <a href='javascript:void(0);' onclick='WST.addFavorite(this,1,{$data['shop']['shopId']},{$data['shop']['favShop']})' class="wst-shop-evaa j-fav2">关注店铺</a>
        {/if}
        <span class="wst-shop-eva">用手机逛本店  &nbsp;&nbsp;|</span>
        <a class="wst-shop-code"><span class="wst-shop-codes hide"><div id='qrcode' style='width:142px;height:142px;'></div></span></a>
      </div>
    </div>
    <div class="wst-shop-sea">
      <input type="text" id="goodsName" value="{$goodsName}" placeholder="输入商品名称">
      <a class="search" href="javascript:void(0);" onclick="javascript:WST.goodsSearch($('#goodsName').val());">搜全站</a>
      <a class="search" href="javascript:void(0);" onclick="javascript:searchShopsGoods(0);">搜本店</a>
      <div class="wst-shop-word">
      {volist name="data['shop']['shopHotWords']" id="shw"}
      <a href='{:Url("home/shops/home",array('shopId'=>$data['shop']['shopId'],'goodsName'=>$shw))}'>{$shw}</a>{if $i< count($data['shop']['shopHotWords'])}&nbsp;|&nbsp;{/if}
      {/volist}
      </div>
    </div>
    <div class="wst-clear"></div>
    </div>
</div>
{if($data['shop']['shopBanner'])}<div class="wst-shop-tu" style="background: url(__ROOT__/{$data['shop']['shopBanner']}) no-repeat  scroll center top;background-size:cover;"></div>{/if}
<div class="wst-clear"></div>
<div class="s-wst-nav-menus">
      <div id="s-wst-nav-items">
           <ul>
               <li class="s-nav-li s-cat-head"><a href="{:Url('home/shops/home',['shopId'=>$data['shop']['shopId']])}" target="_blank"><em></em>本店商品分类</a></li>
               {volist name="$data['shopcats']" id="cat1" key="l" length="6"}
               <li class="s-nav-li">
                    <a href="{:url('home/shops/home',['shopId'=>$data['shop']['shopId'],'ct1'=>$cat1['catId']])}" target="_blank">{$cat1['catName']}</a>
               </li>
               {/volist}
               <li class="s-nav-li"> <a class="homepage" href="{:url('/')}" target="_blank">返回商城首页</a></li>
           </ul>
      </div>
      
      <span class="wst-clear"></span>
    </div>
</div>
<div class="wst-clear"></div>
