{extend name="default/base" /}
{block name="title"}忘记密码 - {__block__}{/block}
{block name="css"}
<link href="__STYLE__/css/style.css?v={$v}" rel="stylesheet">
<link href="__STATIC__/plugins/validator/jquery.validator.css?v={$v}" rel="stylesheet">
<link href="__STYLE__/css/login.css?v={$v}" rel="stylesheet">
{/block}
{block name="nav"}
    {php}$liteTitle = "找回密码"{/php}
	{include file="default/header_lite" /}
{/block}
{block name="main"}
	<div class="wst-container">
           <div id="stepflex" class="stepflex">
               <dl class="first doing">
                   <dt class="s-num">1</dt>
                   <dd class="s-text">填写账户名</dd>
                   <dd></dd>
               </dl>
               <dl class="first doing">
                   <dt class="s-num">2</dt>
                   <dd class="s-text">验证身份</dd>
               </dl>
               <dl class="first doing">
                   <dt class="s-num">3</dt>
                   <dd class="s-text">重置密码</dd>
               </dl>
               <dl class="last">
                   <dt class="s-num1">4</dt>
                   <dd class="s-text">完成</dd>
               </dl>
           </div>
         <div class="wst-clear"></div>
         <div class="forget-pwd">
           <form  id="forgetPwdForm3" autocomplete="off">
           <input type="hidden" id="step" name="step" class="ipt" value="3" autocomplete="off">
	                <table class="phone-verify">
	                    <tbody>
	                        <tr class="wst-login-tr">
	                            <td class="wst-regist-td" style='width:220px;'>新密码：</td>
	                            <td><input type="password" class="ipt wst-forget-input"  name="loginPwd" id="loginPwd" placeholder="6-16位字符"></td>
	                        </tr>
	                        <tr class="wst-login-tr">
	                            <td class="wst-regist-td" style='width:220px;'>确认密码：</td>
	                            <td><input type="password" class="ipt wst-forget-input" name="repassword" id="repassword" placeholder="6-16位字符"></td>
	                        </tr>
	                        <tr class="wst-login-tr">
	                            <td colspan="2" style="padding-left:242px;">
	                                <input type="submit" class="wst-regist-but" value="提交" style="width: 100px;height:32px;">
	                            </td>
	                        </tr>
	                    </tbody></table>
               </form>
           </div>
	</div>
{/block}
{block name="js"}
	<script type="text/javascript" src="__STATIC__/plugins/validator/jquery.validator.js?v={$v}"></script>
	<script type="text/javascript" src="__STATIC__/plugins/validator/local/zh-CN.js?v={$v}"></script>
	<script type='text/javascript' src='__STYLE__/js/findpass.js?v={$v}'></script>
{/block}