{include file="default/header_top" /}
<div class='wst-lite-container'>
   <div class='wst-logo'>
    <a href='{$Request.root.true}' title="{:WSTConf('CONF.mallName')}" >
      <img src="__ROOT__/{:WSTConf('CONF.mallLogo')}" height="120" width='240' title="{:WSTConf('CONF.mallName')}" alt="{:WSTConf('CONF.mallName')}">
    </a>
   </div>
   <div class="wst-lite-title">{$liteTitle}</div>
   <div class="wst-lite-index"><a href='{$Request.root.true}'>返回首页</a></div>
   <div class="wst-clear"></div>
</div>
<div style="border-bottom: 2px solid #df2003;"></div>
<div class="wst-clear"></div>