{extend name="base" /}
{block name="js"}
<script src="__ADMIN__/brands/brands.js?v={$v}" type="text/javascript"></script>
<script>
$(function(){initGrid();})
</script>
{/block}
{block name="main"}
<div class="l-loading" style="display: block" id="wst-loading"></div>
<div class="wst-toolbar">
   所属分类：
     <select id='catId'>
       <option value='0'>所有分类</option>
       {volist name="gcatList" id="vo"}
       <option value='{$vo['catId']}'>{$vo['catName']}</option>
       {/volist}
     </select> 
   品牌名称：<input type='text' id='key' placeholder='品牌名称'/>  
   <button class="btn btn-blue" onclick='javascript:loadGrid(0)'>查询</button>
   {if WSTGrant('PPGL_01')}
   <button class="btn btn-green f-right" onclick='javascript:toEdit(0)'>新增</button>
   {/if}

   <div style='clear:both'></div>
</div>
<div id="maingrid"></div>
{/block}