{extend name="base" /}
{block name="js"}
<script src="__ADMIN__/recommends/recommends.js?v=1{$v}" type="text/javascript"></script>
{/block}
{block name="main"}
<div class="l-loading" style="display: block" id="wst-loading"></div>
<form autocomplete='off'>
<table class='wst-form wst-box-top'>
	  <tr>
	     <th width='120'>商品分类<font color='red'>*</font>：</th>
	     <td colspan='2'>
	        <select id="cat12_0" class='ipt pgoodsCats1_2' level="0" onchange="WST.ITGoodsCats({id:'cat12_0',val:this.value,isRequire:false,className:'pgoodsCats1_2'});">
	          <option value=''>请选择</option>
	          {volist name=":WSTGoodsCats(0)" id="vo"}
	          <option value="{$vo['catId']}">{$vo['catName']}</option>
	          {/volist}
	        </select>
	     </td>
	     <td>
	        &nbsp;
	     </td>
	  <tr>
	     <th width='120'>搜索：</th>
	     <td colspan='2'>
	        <input type='text' id='key_2' style='width:250px' placeholder='品牌名称'/>
	        <input type='button' value='搜索' class='btn btn-blue' onclick='javascript:loadBrands("_2")'>
	     </td>
	     <td>
	       商品分类<font color='red'>*</font>：
	        <select id="cat22_0" class='ipt pgoodsCats2_2' level="0" onchange="WST.ITGoodsCats({id:'cat22_0',val:this.value,isRequire:false,className:'pgoodsCats2_2',afterFunc:'listQueryByBrands'});">
	          <option value=''>所有分类</option>
	          {volist name=":WSTGoodsCats(0)" id="vo"}
	          <option value="{$vo['catId']}">{$vo['catName']}</option>
	          {/volist}
	        </select>
	       <input type='hidden' id='dataType_2' value='0'/>
	     </td>
	  </tr>
	  <tr>
	     <th>请选择<font color='red'>*</font>：</th>
	     <td width='320'>
	       <div class="recom-lbox">
	            <div class="trow head">
	              <div class="tck"><input onclick="WST.checkChks(this,'.lchk_2')" type="checkbox"></div>
	              <div class="ttxt">品牌</div>
	            </div>
	            <div id="llist_2" style="width:350px;"></div>
	       </div>
	     </td>
	     <td align='center'>
	       <input type='button' value='》》' class='btn btn-blue' onclick='javascript:moveRight("_2")'/>
	       <br/><br/>
	       <input type='button' value='《《' class='btn btn-blue' onclick='javascript:moveLeft("_2")'/>
	       <input type='hidden' id='ids_2'/>
	     </td>
	     <td>
	       <div class="recom-rbox">
	            <div class="trow head">
		            <div class="tck"><input onclick="WST.checkChks(this,'.rchk_2')" type="checkbox"></div>
		            <div class="ttxt">品牌</div>
		            <div class="top">排序</div>
		        </div>
	            <div id="rlist_2"></div>
	       </div>
	     </td>
	  </tr>
	  {if WSTGrant('PPTJ_04')}
	  <tr>
	     <td colspan='4' align='center' style='padding-top:10px;'>
	       <input type='button' value='保存' class='btn btn-blue' onclick='javascript:editBrands("_2")'>
	     </td>
	  </tr>
	  {/if}
</table>
</form>
<script>
$(function(){listQueryByBrands('_2');})
</script>
{/block}