<div id="wst-tab-2" title="运营设置" class='wst-tab'>
     <table class='wst-form wst-box-top'>
	  <tr>
	     <th width='150'>开启积分支付：</th>
	     <td>
	     <label>
	         <input type='radio' id='isOpenScorePay1' name='isOpenScorePay' class='ipt' value='1' {if $object['isOpenScorePay']==1}checked{/if}>是
	     </label>
	     <label>
	         <input type='radio' id='isOpenScorePay0' name='isOpenScorePay' class='ipt' value='0' {if $object['isOpenScorePay']==0}checked{/if}>否
	     </label>
	     </td>
	  </tr>
	  <tr>
	     <th>开启下单获积分：</th>
	     <td>
	     <label>
	         <input type='radio' id='isOrderScore1' name='isOrderScore' class='ipt' value='1' {if $object['isOrderScore']==1}checked{/if}>是
	     </label>
	     <label>
	         <input type='radio' id='isOrderScore0' name='isOrderScore' class='ipt' value='0' {if $object['isOrderScore']==0}checked{/if}>否
	     </label>
	     </td>
	  </tr>
	  <tr>
	     <th>开启评价获积分：</th>
	     <td>
	     <label>
	         <input type='radio' id='isAppraisesScore1' name='isAppraisesScore' class='ipt' value='1' {if $object['isAppraisesScore']==1}checked{/if}>是
	     </label>
	     <label>
	         <input type='radio' id='isAppraisesScore0' name='isAppraisesScore' class='ipt' value='0' {if $object['isAppraisesScore']==0}checked{/if}>否
	     </label>
	     </td>
	  </tr>
	  <tr style='display:none'>
	     <th>积分与金钱兑换比例：</th>
	     <td><input type="text" id='scoreCashRatio' class='ipt' value="{$object['scoreCashRatio']}" maxLength='20'/></td>
	  </tr>
	  <tr style='display:none'>
	     <th>结算金额设置：</th>
	     <td><input type="text" id='settlementStartMoney' class='ipt' value="{$object['settlementStartMoney']}" maxLength='10'/></td>
	  </tr>
	  <tr>
	     <th>未支付订单失效时间：</th>
	     <td>下单后<input type="text" id='autoCancelNoPayDays' class='ipt' value="{$object['autoCancelNoPayDays']}" maxLength='3' style='width:40px'/>小时</td>
	  </tr>
	  <tr>
	     <th>自动收货期限：</th>
	     <td>发货后<input type="text" id='autoReceiveDays' class='ipt' value="{$object['autoReceiveDays']}" maxLength='3' style='width:40px'/>天自动收货</td>
	  </tr>
	  <tr>
	     <th>自动评价期限：</th>
	     <td>确认收货后<input type="text" id='autoAppraiseDays' class='ipt' value="{$object['autoAppraiseDays']}" maxLength='3' style='width:40px'/>天自动好评</td>
	  </tr>
	  <tr>
	  	{if ($grant)}
	     <td colspan='2' align='center'>
	        <input type="button" value="保存" class='btn btn-blue' onclick='javascript:edit()'/>
            <input type="reset" class='btn' value="重置" />
	     </td>
	     {/if}
	  </tr>
	 </table>
</div>