{extend name="base" /}
{block name="css"}
{/block}
{block name="js"}
<script src="__ADMIN__/ordercomplains/ordercomplains.js?v={$v}" type="text/javascript"></script>
{/block}
{block name="main"}
<div class="l-loading" style="display: block" id="wst-loading"></div>
<div id="wst-tabs" style="width:100%; height:99%;overflow: hidden; border: 1px solid #D3D3d3;" class="liger-tab">

   <div id="wst-tab-1" tabId="wst-tab-1"  title="投诉详情" class='wst-tab'  style="height: 99%"> 

      <!-- 投诉信息 -->
    <div class='order-box'>
      <table class='wst-form'>
         <tr>
           <td class='head-ititle'>投诉信息</td>
         </tr>
         <tr>
           <th width='100'>订单编号：</th>
           <td>{$object['orderNo']}</td>
         </tr>
         <tr>
           <th>投诉人：</th>
           <td>{$order['userName']}</td>
         </tr>
         <tr>
            <th>投诉类型：</th>
            <td>{if ($order['complainType']==1)}
            承诺的没有做到
            {elseif ($order['complainType']==2)}
            未按约定时间发货
            {elseif ($order['complainType']==3)}
            未按成交价格进行交易
            {elseif ($order['complainType']==4)}
            恶意骚扰
           {/if}</td>
         </tr>
         <tr>
            <th>投诉内容：</th>
            <td>{$order['complainContent']}</td>
         </tr>
         <tr>
            <th>附件：</th>
            <td>
              <div id="complainAnnex">
              {if !empty($order['complainAnnex'])}
              {volist name="$order['complainAnnex']" id="img"}
              <img style='cursor:pointer' src="__ROOT__/{$img}" layer-src="__ROOT__/{:str_replace('_thumb.','.',$img)}" width="50" />
              {/volist}
              {/if}
              </div>
            </td>
         </tr>

         <tr>
            <th>投诉时间：</th>
            <td>{$order['complainTime']}</td>
         </tr>
      </table>
   </div>

   <!-- 应诉信息 -->
   <div class='order-box'>
      <table class='wst-form'>
         <tr>
           <td class='head-ititle'>应诉信息</td>
         </tr>
         <tr>
           <th width='100'>移交应付时间：</th>
           <td>{$order['deliverRespondTime']}</td>
         </tr>
         <tr>
           <th>应诉人：</th>
           <td>{$order['order']['shopName']}</td>
         </tr>
         <tr>
           <th>应诉信息：</th>
           <td>{$order['respondContent']}</td>
         </tr>
         <tr>
          <th>附件：</th>
              <td>
               <div id="respondAnnex">
                  {if !empty($order['respondAnnex'])}
                  {volist name="$order['respondAnnex']" id="img"}
                  <img style='cursor:pointer' src="__ROOT__/{$img}" layer-src="__ROOT__/{:str_replace('_thumb.','.',$img)}" width="50" />
                  {/volist}
                  {/if}
                </div>
              </td>
          </tr>
          <tr>
            <th>应诉时间：</th>
            <td>
            {$order['respondTime']}
            </td>
          </tr>
          {if condition="$order['complainStatus'] == 0"}
          <tr>
	          <td colspan='2' align='center'>
	            <button type="button" class="btn btn-blue" onclick='javascript:deliverNext({$order["complainId"]})'>移交卖家应诉</button>
	          </td>
          </tr>
          {/if}
      </table>
   </div>


   <!-- 仲裁结果 -->
   <div class='order-box'>
      <table class='wst-form'>
         <tr>
           <td class='head-ititle'>仲裁结果</td>
         </tr>
         

       <tr>
          <td align='right' valign='right' width='120'>当前订单状态：</td>
          <td>
              {:WSTLangOrderStatus($order['order']['orderStatus'])}
          </td>
       </tr>
       <tr>
          <td align='right' valign='right' width='120'>当前仲裁流程：</td>
          <td style='color:red'>
              {:WSTLangComplainStatus($order['complainStatus'])}
          </td>
       </tr>
       <tr>
        <th>仲裁结果：</th>
          <td>
           {if condition="$order['complainStatus'] neq 4"}
             <textarea id='finalResult' style='height:150px;width:100%' placeholder='若无需转交应诉人应诉则直接填写仲裁结果进行仲裁'></textarea>
            {else/}
              {$order['finalResult']}
            {/if}
          </td>
       </tr>


      <tr>
         <td colspan='2' align='center'>
           {if condition="$order['complainStatus'] neq 4"}
          <button type="button" class="btn btn-blue" onclick='javascript:finalHandle({$order["complainId"]},{$order["order"]["orderStatus"]})'>仲&nbsp;裁</button>
          {/if}
          <button type="button" class="btn btn-blue" onclick='javascript:history.go(-1)'>返&nbsp;回</button>
         </td>
      </tr>
        
      </table>
    </div>
  </div>




































   <div title="订单详情" class='wst-tab' id="order-detail"  style="var flag = true;
height: 99%"> 
      <div style='margin:10px;'>
  <div class='order-box'>
    <div class='box-head'>日志信息</div>
    {if in_array($object['orderStatus'],[-2,0,1,2])}
  <div class='log-box'>
<div class="state">
{if $object['payType']==1}
<div class="icon">
  <span class="icons {if condition="($object['orderStatus']==-2)OR($object['orderStatus']==0)OR($object['orderStatus']==1)OR($object['orderStatus']==2)"}icon12 {else}icon11 {/if}{if condition="($object['orderStatus']==-2)"}icon13 {/if}"></span>
</div>
<div class="arrow {if condition="($object['orderStatus']==0) OR ($object['orderStatus']==1) OR ($object['orderStatus']==2)"}arrow2{/if}">··················></div>
  <div class="icon"><span class="icons {if condition="($object['orderStatus']==0)OR($object['orderStatus']==1)OR($object['orderStatus']==2)"}icon22 {else}icon21{/if}{if condition="($object['orderStatus']==0)"}icon23 {/if}"></span></div>
  <div class="arrow {if condition="($object['orderStatus']==1) OR ($object['orderStatus']==2)"}arrow2{/if}">··················></div>
{else}
<div class="icon">
  <span class="icons {if condition="($object['orderStatus']==-2)OR($object['orderStatus']==0)OR($object['orderStatus']==1)OR($object['orderStatus']==2)"}icon12 {else}icon11 {/if}{if condition="($object['orderStatus']==0)"}icon13 {/if}"></span>
</div>
<div class="arrow {if condition="($object['orderStatus']==1) OR ($object['orderStatus']==2)"}arrow2{/if}">··················></div>
{/if}
<div class="icon">
  <span class="icons {if condition="($object['orderStatus']==1)OR($object['orderStatus']==2)OR($object['orderStatus']==1)"}icon32 {else}icon31 {/if}{if condition="($object['orderStatus']==1)"}icon33 {/if}"></span>
</div>
<div class="arrow {if condition="($object['orderStatus']==2)"}arrow2{/if}">··················></div>
<div class="icon"><span class="icons  {if condition="($object['orderStatus']==2)AND($object['isAppraise']==1)"}icon42 {else}icon41 {/if}{if condition="($object['orderStatus']==2)AND($object['isAppraise']==2)"}icon43 {/if}"></span></div>
<div class="arrow {if condition="($object['isAppraise']==1)"}arrow2{/if}">··················></div>
<div class="icon"><span class="icons {if condition="($object['isAppraise']==1)"}icon53 {else}icon51 {/if}"></span></div>
</div>
   <div class="state2">
   <div class="path">
   {volist name="$object['log']" id="lo"}
    <span>{$lo['logContent']}<br/>{$lo['logTime']}</span>
   {/volist}
   </div>
   <p>下单</p>{if $object['payType']==1}<p>支付</p>{/if}<p>商家发货</p><p>确认收货</p><p>订单结束<br/>双方互评</p>
   </div>
   <div class="wst-clear"></div>
   </div>
    {else}
        <div>
          <table class='log'>
            {volist name='$object["log"]' id='vo'}
             <tr>
               <td>{$vo['logTime']}</td>
               <td>{$vo['logContent']}</td>
             </tr>
            {/volist}
          </table>
        </div>                 
    {/if}
   </div>
   <!-- 订单信息 -->
   <div class='order-box'>
      <div class='box-head'>订单信息</div>
      <table class='wst-form'>
         <tr>
           <th width='100'>订单编号：</th>
           <td>{$object['orderNo']}</td>
         </tr>
         <tr>
           <th>支付方式：</th>
           <td>{:WSTLangPayType($object['payType'])}</td>
         </tr>
         <tr>
            <th>配送方式：</th>
            <td>{:WSTLangDeliverType($object['deliverType'])}</td>
         </tr>
         {if $object['expressNo']!=''}
         <tr>
            <th>快递公司：</th>
            <td>{$object['expressName']}</td>
         </tr>
         <tr>
            <th>快递号：</th>
            <td>{$object['expressNo']}</td>
         </tr>
         {/if}
         <tr>
            <th>买家留言：</th>
            <td>{$object['orderRemarks']}</td>
         </tr>
      </table>
   </div>
   <!-- 发票信息 -->
   <div class='order-box'>
      <div class='box-head'>发票信息</div>
      <table class='wst-form'>
         <tr>
           <th width='100'>是否需要发票：</th>
           <td>{if $object['isInvoice']==1}需要{else}不需要{/if}</td>
         </tr>
         <tr>
           <th>发票抬头：</th>
           <td>{$object['invoiceClient']}</td>
         </tr>
      </table>
   </div>
   <!-- 收货人信息 -->
   <div class='order-box'>
      <div class='box-head'>收货人信息</div>
      <table class='wst-form'>
         <tr>
           <th width='100'>收货人：</th>
           <td>{$object['userName']}</td>
         </tr>
         <tr>
           <th>收货地址：</th>
           <td>{$object['userAddress']}</td>
         </tr>
         <tr>
            <th>联系方式：</th>
            <td>{$object['userPhone']}</td>
         </tr>
      </table>
   </div>
   <!-- 商品信息 -->
   <div class='order-box'>
       <div class='box-head'>商品清单</div>
       <div class='goods-head'>
          <div class='goods'>商品</div>
          <div class='price'>单价</div>
          <div class='num'>数量</div>
          <div class='t-price'>总价</div>
       </div>
       <div class='goods-item'>
          <div class='shop'>
          {$object['shopName']}
          {if $object['shopQQ'] !=''}
          <a href="tencent://message/?uin={$object['shopQQ']}&Site=QQ交谈&Menu=yes">
        <img border="0" src="http://wpa.qq.com/pa?p=1:{$object['shopQQ']}:7" alt="QQ交谈" width="71" height="24" />
      </a>
          {/if}
          {if $object['shopWangWang'] !=''}
          <a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid={$object['shopWangWang']}&siteid=cntaobao&status=1&charset=utf-8">
        <img border="0" src="http://amos.alicdn.com/realonline.aw?v=2&uid={$object['shopWangWang']}&site=cntaobao&s=1&charset=utf-8" alt="和我联系" />
      </a>
          {/if}
          </div>
          <div class='goods-list'>
             {volist name='$object["goods"]' id='vo2'}
             <div class='item'>
            <div class='goods'>
                <div class='img'>
                    <a href='{:Url("home/goods/detail","id=".$vo2["goodsId"])}' target='_blank'>
                  <img src='__ROOT__/{$vo2["goodsImg"]}' width='80' height='80' title='{$vo2["goodsName"]}'/>
                  </a>
                </div>
                <div class='name'>{$vo2["goodsName"]}</div>
                <div class='spec'>{:str_replace('@@_@@','<br/>',$vo2["goodsSpecNames"])}</div>
            </div>
            <div class='price'>¥{$vo2['goodsPrice']}</div>
            <div class='num'>{$vo2['goodsNum']}</div>
            <div class='t-price'>¥{$vo2['goodsPrice']*$vo2['goodsNum']}</div>
            <div class='f-clear'></div>
             </div>
             {/volist}
          </div>
       </div>
       <div class='goods-footer'>
          <div class='goods-summary' style='text-align:right'>
             <div class='summary'>商品总金额：¥<span>{$object['goodsMoney']}</span></div>
             <div class='summary'>运费：¥<span>{$object['deliverMoney']}</span></div>
             <div class='summary line'>应付总金额：¥<span>{$object['totalMoney']}</span></div>
             <div class='summary'>实付总金额：¥<span>{$object['realTotalMoney']}</span></div>
             <div>可获得积分：<span class='orderScore'>{$object["orderScore"]}</span>个</div>
          </div>
       </div>
   </div>
   <div class='wst-footer'><input type='button' value='返回' class='btn btn-blue' onclick='javascript:history.go(-1)'></div>
<div>
   </div>



</div>
<script>
$(function(){
  parent.showImg({photos: $('#respondAnnex')});
  parent.showImg({photos: $('#complainAnnex')});
});

</script>

{/block}